<%= render "navbar" %>

<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

  <p></p>
  <ul class="list-group mb-5">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> - <%= review.rating %>
        <i class="fas fa-star"></i> <em>(<%= review.created_at %>)</em></li>
    <% end %>
  </ul>

  <h3>Add your review here : </h3>
  <%= render "reviews/form", restaurant: @restaurant, review: @review %>
  <p></p>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary mt-4" %>

</div>
